/* 
h1
{
   font-size:100px;
   margin-bottom: 15px;

}


h3
{
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 5px;
    margin-bottom: 105px;

}


p,
li,
h1,
h3 {
    color: rgb(247, 249, 244);
    font-family: Arial, Helvetica, sans-serif;
} */




html{
    font-size: 33px;

    --primary_color: #f3f3e3;
    --secondary_color: #121212;
    --accent_color: #F34444;
    --menuText_color: #ffffff;
    --text_color: #F6F6F0;
    --blankingHeight: 100px ;
    --midGap: 15px;
    --smallGap:5px;
    --largeGap: 60px;

    /* if change boxshadow border size, change varialble bordersize too */
    --border: inset 0 0 0 3px var(--secondary_color); 
    --borderSize: 3px   





    
}

*{
    margin: 0;
    padding: 0;
}




body {
 
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary_color);
  
    
}


/*-- ------------------------ DETAIL ------------------------------------*/

.detailThin{
background-color: #F34444;
height: calc(var(--midGap) * 1.5);
width: 100%;
background-image: linear-gradient(to top, #cecec7 , var(--primary_color) 25px, #cecec7);

}



.detailMed{
background-color: #F34444;
height: calc(var(--largeGap) * 2);
width: 100%;
background-image: linear-gradient(to top, #cecec7 , var(--primary_color) 25px, #cecec7);

}


.lineDetail{
    background-color: var(--secondary_color);
    height: var(--borderSize);
    margin-left: var(--largeGap);
    margin-right: var(--largeGap);
    margin-bottom: var(--midGap);
    margin-top: var(--midGap);
}




hr{
 
    height: 2px;
    color: #000000;
    background-color: #000000;
    border: 0;
    font-size: 0;
    margin-top: 30px;
    margin-bottom: 30px;


}




/*------------------------TOP BAR----------------------------------*/

.TopBarSticky
{
    top: 0;
    position: sticky;
    display: flex;

    height: 75px;
    background-color: var(--primary_color);
    align-items: center;
    z-index: 4;
    box-shadow: 0px 5px 10px rgb(149, 149, 149);
}

.menuItemsContainer
{     
    display: flex;
    
    margin-left: var(--largeGap);



}

.menuItems
{   
    color: var(--secondary_color);
    text-transform: uppercase;
    margin-right: var(--midGap);
    font-size: 0.5rem;
    display: flex;
    border: var(--border);
    height: 35px;
    padding: 5px;
    border-style: solid;
    align-items: center;
    transition: 0.25s ease;
    font-weight: bolder;
}


.menuItems:hover{
    color: var(--accent_color);
    animation-duration: 3s;
}




/*----------------------ANIMATIONS---------------------------------*/

@keyframes initialText{
    0%{
    margin-right: 100vw;
    opacity: 0%;
    rotate: 15deg;
    }
    25%{
        margin-right: -50vw;

    }
    35%{
        rotate: 0deg;
        opacity: 100%;
        
    }
    45%{
        margin-left: -25vw;
    }
}

@keyframes fadeOut{
    25%{
    opacity: 50%;
    }
    50%{
    opacity: 25%;
    }
    70%{
    
    opacity:  0%;
    display: none;
    }
    100%{
    display: none;
    }
}


@keyframes borderOut {
  0% {
    transform: scaleY(1);
    opacity: 1;
  }

  50% {
    transform: scaleY(2);
    border-color: #fff;
  }

  100% {
    transform: scaleY(4);
    opacity: 0;
  }
}



/*------------------------TITLE-A-PAGE----------------------------------*/

.title{
    color: var(--secondary_color);
    display: flex;
    justify-content: center;
    margin-top: 25vh;
    font-weight: bolder;
    font-size: 2rem;
    transition: 1s ease;
    


}






.subtitle{
    color: var(--secondary_color);
    display: flex;
    justify-content: center;
    font-size: 0.5rem;
    text-transform: uppercase;

}

/*------------------------EXPERIENCES----------------------------------*/




.experiencesList{
    display: flex;

    height: 500px;
    margin-left: var(--largeGap);
    margin-right: var(--largeGap);
}



.experiences li{
    display: flex;
    z-index: 1;
    height: 85px;
    width: 100%;
    align-items: center;
    box-shadow: var(--border);
    margin-bottom: var(--midGap);
    transition: 1s ease;

    
}

.experiences li::before{
    position: absolute;
    content: '';
    height: 85px;
    width: calc(100vw - (var(--largeGap) * 2) - 10px);
    border:  5px solid var(--accent_color);
    opacity: 0%;


    
}



.experiences li:hover{
    transform: scale(1.05);
    animation-duration: 3s;
    height: 100%;
  
}

.experiences li:hover::before{
    opacity: 100%;
    animation-duration: 0.75s;
    animation-name: borderOut;
    animation-fill-mode: forwards;

}


.pageImage{
    display: none;
    opacity: 0%;
    background-color: #06ff44;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}




.experiences{
    width: 100%

}



.experiencesTitle{
    margin-left: var(--midGap);
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: bolder;
    z-index: 1;
    color: var(--primary_color);

    
}




.experiencesContainer1{
    background-image: linear-gradient(to right, rgb(12, 12, 12) , transparent), url('../images/5mm.png');

    background-size: cover;
    background-position: center;
    background-color:var(--primary_color);
}



.experiencesContainer2{
 /* background-image: linear-gradient(to right, rgb(12, 12, 12) , transparent), url('../images/5mm.png'); */
    background-position: center;
    background-color:var(--primary_color);
}


.experiencesContainer3{
 /* background-image: linear-gradient(to right, rgb(12, 12, 12) , transparent), url('../images/5mm.png');
    background-position: center; */
    background-color:var(--primary_color);
}














.experiencesContainer2{
    display: flex;

    height: 85px;
    width: 100%;
    align-items: center;
    /* background-image: url('../images/5mm.png'); */
    background-position: center;
    background-color:var(--secondary_color);
    box-shadow: var(--border);
}






.experiencesContainer3{
    display: flex;

    height: 85px;
    width: 100%;
    align-items: center;
    /* background-image: url('../images/5mm.png'); */
    background-position: center;
    background-color:var(--secondary_color);
    box-shadow: var(--border);
}







/* .experiencesShadow{
    background-image: linear-gradient(to right, rgb(12, 12, 12) , transparent);
    width: 100%;
    height: 85px;
    margin-top: -85px;
    position: relative;
    z-index: 0;
    margin-bottom: var(--midGap);
} */


/*-------------------------- FOCAL LENGTH DISPLAY --------------------------------*/



.focalContainer
{
    
    overflow: hidden;
    height: 730px;
    background-color: #191919;
    flex-wrap: wrap;

}

.focalImage
{
    display: block;  
    object-position: center;
    object-fit:cover;
    min-width: 100%;
    min-height: 100%;
    
}





.blankingInfo{
    margin-top: 200px;
    font-weight: bolder;
    margin-left: var(--largeGap);
    color: var(--primary_color);
    font-size: 0.5rem;
}
.initialText{

    position: absolute;
    font-size: 0.5rem;
    align-self: center;
    justify-self: center;
    margin-top: 700px ;

    font-weight: bold;
    color: var(--primary_color);
    animation-duration: 3s;
    animation-name: initialText;

}


.dissappear{
    animation-duration: 1.5s;
    animation-name: fadeOut;
    animation-fill-mode: forwards;
}

/* .bottomBlanking:hover{

    height: 300px;
} */

.blankingInfo{


}
.bottomBlanking
{
    background-color:var(--secondary_color);
    height: var(--blankingHeight);
    margin:-10px;
    align-content: baseline;
 
    transition: 0.45s ease;
}










/*-- ------------------------ REAL SLIDER ------------------------------------*/



.focalRing{
margin-top: 0px;
position: absolute;
background-image: linear-gradient(to top, rgb(45, 45, 45), rgb(28, 28, 28));
width: 110%;
height: 100px;


}

.detailContainer{
    display: flex;
 
    width: 100%;
    position: absolute;
    height: 100%


}


.detail01{
    display: flex;
    background-color:rgb(255, 242, 0);
    height: 100%;
    min-width: 15px;
    margin-left: 5px;
    background-image: linear-gradient(to left, rgb(31, 31, 31), rgb(48, 48, 48),  rgb(31, 31, 31));
    


}



.focalShadow{

    background-image: linear-gradient(to top, rgb(12, 12, 12) , transparent 65px,  rgb(19, 19, 19));
    height: 100%;
    width: 100%;
    z-index: 3;
    position: absolute;
}


.focalRingButton{

    width: 100%;
    height: 115px;
    position: absolute;
    background-color: yellow;
    opacity: 0%;
}







/*-- ------------------------ SLIDER ------------------------------------*/
.sliderContainer
{
    /* background-color: rgb(155, 0, 0); */
    display: flex;
    padding-left: calc(var(--largeGap) + 2px);
    padding-right: calc(var(--largeGap) + 2px);
    margin-bottom: 10px;
    margin-top: 110px;


}   


.slider
{   

    text-align: center;
    width: 100%;
    height: 8px;
    box-shadow: 0 0 0 2px black;


}










/*-------------------------- OPTIONS --------------------------------*/
.wrapper{

    height: 100vh;
    margin-bottom: -92vh;



}


.optionsBar{
    top: 70px;
    position: sticky;
    background-color: var(--primary_color);
    width: 100%;
    margin-top: var(--midGap);
    z-index: 3;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 5px 10px rgb(149, 149, 149);
}

.options
{


    margin-left: var(--largeGap);
    margin-right: var(--largeGap);
    display: flex;
    align-items: end;
    width: 23%;

    margin-bottom: 0px;

}


.currentFocalLength{

    font-size: 1.75rem;
    font-weight: bold;
    background-color: var(--accent_color);
    min-width: 220px;
    padding: var();
    color: var(--primary_color);



    

}


.filtersContainer{
  
    align-content: end;
    /* background-color: yellow; */
    width: 100%;
    padding: 0px;


}



.filter{
    text-transform: uppercase;
    border: var(--border);
    border-style: solid;

    font-size: 0.3rem;
    margin-left:var(--smallGap);
    margin-top: var(--smallGap);
    padding: 5px;
    height: 16px;
    background-color:var(--primary_color);
    align-content: center;
    font-weight: 555;

}   

.optionsSearchBar{

    border: var(--border);
    border-style: solid;
    
    margin-left:var(--largeGap);
    margin-right: var(--largeGap);
    margin-top: var(--midGap);
    margin-bottom: var(--smallGap);

    padding: 15px;
    align-items: b;
    font-size: 0.3rem;
    font-weight: 555;
    height: 16px;
    align-content: center;
}


/* .deepFilter{
    display: flex;
    border: 2px black;
    border-style: solid;
    width: 234px;
    font-size: 0.5rem;
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: -0px;
    padding: 5px;
    background-color: #FFFFFF;
    font-weight: bold;

}




.yearDropdown{
    position:relative
}

.genreDropdown{
    position:relative
}

.yearDropdown:hover .yearContainer{
    display: block;

}

.genreDropdown:hover .genreContainer{
    display: block;
}


.deepFilter:hover{
    background-color: #5577C5;
}




.yearContainer{
    display: none;
    position: absolute;
    text-transform: uppercase;
    margin: 0px;
    margin-top: -25px;
    margin-bottom: 50px;
    padding: 0px;   
    z-index: 1;
    height: 500px;
    overflow-y: scroll;
    
    
}



.genreContainer{
    display: none;
    position: absolute;
    text-transform: uppercase;
    margin: 0px;
    margin-top: -30px;
    margin-bottom: 50px;
    padding: 0px;   
    z-index: 0;
}




.animatedBlock{
    background-color: red;
    min-width: 100%;
    max-height: 95px;
    margin-right: var(--largeGap);
    margin-left: var(--smallGap);

}


.abTop{
    background-color: var(--secondary_color);
    background-image: linear-gradient(to top, rgb(20, 20, 20), rgb(68, 68, 68));
    width: 100%;
    height: 50%;
}



.abTopText{
    color: var(--primary_color);
    transform: scaleY(0.7);
    margin-left: var(--largeGap);
    font-size: 0.25rem;


}



.abBottom{
    background-color: #06ff44;
    background-image: linear-gradient(to top, var(--secondary_color), rgb(0, 0, 0));
    width: 100%;
    height: 50%;
}


.abBottomText{
    color: var(--primary_color);
    transform: scaleY(0.7);
    opacity: 25%;
    margin-left: var(--largeGap);    
} */









/*--------------------------STILL GALLERY --------------------------------*/


.stillsMasonryGrid{
    --gridWidth: calc(100% - (var(--largeGap) * 2));
    display: flex;
    width: var(--gridWidth);
    gap: var(--midGap);
    justify-self: center;
    height: 1500px;
    /* background-color: yellow; */

}

.stillsMasonryColumn{
 
    height: 100%;
    width: 25%;
    /* background-color: blue; */
}




.stillList{
    list-style-type: none;

}
.stillList li{
    transition: 0.45s ease;
    width: 100%;
    margin-bottom: var(--smallGap);
    --stillsMasonryColumn{margin:var(--smallGap)}
    /* background-color: red; */
 


}


.stillList li:hover{
    transform: scale(1.15);
    margin-bottom: 50px;
}


.stillTopBar:hover{
    height: 125px;
    background-color: var(--accent_color);

}

.stillTopBar:hover .leftText{

    animation-name: fadeOut;
    animation-fill-mode: forwards;
}
.stillTopBar:hover .rightText{

    animation-name: fadeOut;
    animation-fill-mode: forwards;
}






.stillTopBar:hover .revealedText{
    display:block;
    opacity: 100%;
}
.stillTopBar:hover .revealedText2{
    display:block;
    opacity: 100%;
}
.stillList li:hover .stillTopBar{
    background-color: var(--secondary_color);
}

.stillList li:hover .stillBottomBar{
    background-color: var(--secondary_color);
}

.stillList li:hover .leftText{
    color: var(--primary_color);
}

.stillList li:hover .rightText{
    color: var(--primary_color);
}


.stillTopBar:hover .stillImage{
    height: 500px;

}



.stillContainer{
    width: 100%;
}


.revealedText{
    width: 100%;
    list-style-type: none;
    text-transform: uppercase;

    color: var(--primary_color);
    opacity: 0%;
    display: none;
    margin-right: var(--smallGap);
    text-align: center;
    justify-content: center;
    transition: 0.2s ease;
    font-size: 0.35rem; 
    letter-spacing: 0.25rem;

}



.revealedImage{
    position: absolute;
    width: 80vw;
    height: 80vh;
    z-index: 3;
}


.stillTopBar{
    display: flex;
    transition: 0.75s ease;
    width: 100%;
    height: 75px;
    background-color: var(--primary_color);
    border: var(--border);
    border-style: solid;
    overflow: hidden;
    align-items: center;

}


.stillBottomBar{
    transition: 0.75s ease;
    width: 100%;
    height: 50px;   
    background-color: var(--primary_color);
    border: var(--border);
    border-style: solid;
}

.stillImage{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    height: 250px;
    border: var(--border);
    border-style: solid;
    
}

.leftText{
    margin-top: 25px;
    margin-left: var(--midGap);
    text-transform: uppercase;
    font-weight: bolder;
    color: var(--secondary_color);
    font-size: 0.5rem;

}


.rightText{
    margin-top: 25px;
    margin-right: var(--midGap);
    text-transform: uppercase;
    font-size: 0.5rem;
    color: var(--secondary_color);

    flex: 1 0 50%;
    text-align: right;
}



/* .stillsList
{


    margin-left: calc(var(--largeGap) - var(--midGap) + 5px);
    margin-right: calc(var(--largeGap) - var(--midGap) + 5px);
    background-color: yellow;
    margin-top: 0px;
    display: grid;
    grid-column: auto;




}


.stillsListColumn{
    background-color: blue;
    width: 33%
}

.stillContainer
{

    background-color: #ffffff;
    box-shadow: 0 0 0 5px black;

    overflow: hidden;



}



.stillTopBar
{
    background-color: rgb(0, 0, 0);
    padding: 0.5rem;
    height: 40px;

    

}



.stillTitle
{
    margin-top: -10px;
    color: var(--text_color);
    display: flex;
    font-weight: bold;

}

.directorTitle
{
    font-size: 0.5rem;

    color: var(--text_color);
    display: flex;
}


.stillImage
{
    display: block;
    object-fit: cover;
    width: 100%;

}
 */












.test{
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.testParagraph{
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}


